package web

templ Login() {
    <div class="login-container">
        <form hx-post="/login">
            <label>Username:</label>
            <input type="text" name="user_name" required>
            
            <label>Password:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
}
